<!--The content below is only a placeholder and can be replaced.-->
<div class="title">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<div class="search-form">
  <form class="form">
    <div class="form-group">
        <input id="search" name="searchTerm" type="text" class="form-group__input" [(ngModel)]="searchTerm" placeholder="Search" (ngModelChange)="search(searchTerm)">
        <label for="search" class="form-group__label">Search</label>
    </div>
  </form>
</div>

<div class="documents">
  <div class="document" *ngFor="let document of documents$ | async">
    <img class="document__image" src="{{document.Url}}" alt="{{document.Text}}">
  </div>
</div>

<router-outlet></router-outlet>
